Repository IBM-Cloud/terraform-provider-ibm, pull requests merged in 2024-08, with the labels that each got.

#5550 PKI HSM Addition
  go.mod
  go.sum
  ibm/acctest/acctest.go
  ibm/service/secretsmanager/data_source_ibm_sm_configurations.go
  ibm/service/secretsmanager/data_source_ibm_sm_configurations_test.go
  ibm/service/secretsmanager/data_source_ibm_sm_private_certificate_configuration_intermediate_ca.go
  ibm/service/secretsmanager/data_source_ibm_sm_private_certificate_configuration_intermediate_ca_test.go
  ibm/service/secretsmanager/data_source_ibm_sm_private_certificate_configuration_root_ca.go
  ibm/service/secretsmanager/data_source_ibm_sm_private_certificate_configuration_root_ca_test.go
  ibm/service/secretsmanager/resource_ibm_sm_private_certificate_configuration_intermediate_ca.go
  ibm/service/secretsmanager/resource_ibm_sm_private_certificate_configuration_intermediate_ca_test.go
  ibm/service/secretsmanager/resource_ibm_sm_private_certificate_configuration_root_ca.go
  ibm/service/secretsmanager/resource_ibm_sm_private_certificate_configuration_root_ca_test.go
  website/docs/d/sm_configurations.html.markdown
  website/docs/d/sm_private_certificate_configuration_intermediate_ca.html.markdown
  website/docs/d/sm_private_certificate_configuration_root_ca.html.markdown
  website/docs/d/sm_secrets.html.markdown
  website/docs/r/sm_private_certificate_configuration_intermediate_ca.html.markdown
  website/docs/r/sm_private_certificate_configuration_root_ca.html.markdown
Labels: service/Secrets Manager

#5385 Refactor PI Instance
  ibm/service/power/data_source_ibm_pi_instance.go
  ibm/service/power/data_source_ibm_pi_instance_ip.go
  ibm/service/power/data_source_ibm_pi_instances.go
  ibm/service/power/data_source_ibm_pi_network_port.go
  ibm/service/power/ibm_pi_constants.go
  ibm/service/power/resource_ibm_pi_cloud_connection.go
  ibm/service/power/resource_ibm_pi_dhcp.go
  ibm/service/power/resource_ibm_pi_image.go
  ibm/service/power/resource_ibm_pi_image_test.go
  ibm/service/power/resource_ibm_pi_instance.go
  ibm/service/power/resource_ibm_pi_instance_test.go
  ibm/service/power/resource_ibm_pi_shared_processor_pool.go
  ibm/service/power/resource_ibm_pi_snapshot.go
  ibm/service/power/resource_ibm_pi_volume_group.go
  website/docs/d/pi_instance.html.markdown
  website/docs/d/pi_instances.html.markdown
  website/docs/r/pi_instance.html.markdown
Labels: service/Power Systems

#5569 Update storage types docs
  website/docs/d/pi_storage_type_capacity.markdown
  website/docs/r/pi_image.html.markdown
  website/docs/r/pi_instance.html.markdown
  website/docs/r/pi_volume.html.markdown
  website/docs/r/pi_volume_clone.html.markdown
Labels: service/Power Systems

#5571 [Doc]Update pi_image doc
  go.mod
  website/docs/r/pi_image.html.markdown
Labels: service/Power Systems, documentation

#5570 Undo gateway change
  ibm/service/power/resource_ibm_pi_network.go
Labels: service/Power Systems

#5543 Refactor Volume group
  ibm/service/power/ibm_pi_constants.go
  ibm/service/power/resource_ibm_pi_volume_group.go
  ibm/service/power/resource_ibm_pi_volume_group_test.go
  website/docs/r/pi_volume_group.html.markdown
Labels: service/Power Systems
