Repository IBM-Cloud/terraform-provider-ibm, pull requests merged in 2025-05, with the labels that each got.

#6165 [Resource] Add retry to pi network create and delete
  ibm/service/power/ibm_pi_constants.go
  ibm/service/power/resource_ibm_pi_network.go
Labels: service/Power Systems

#6180 Add support custom credentials secret type
  examples/ibm-secrets-manager/main.tf
  examples/ibm-secrets-manager/variables.tf
  go.mod
  go.sum
  ibm/acctest/acctest.go
  ibm/provider/provider.go
  ibm/service/secretsmanager/data_source_ibm_sm_custom_credentials_configuration.go
  ibm/service/secretsmanager/data_source_ibm_sm_custom_credentials_configuration_test.go
  ibm/service/secretsmanager/data_source_ibm_sm_custom_credentials_secret.go
  ibm/service/secretsmanager/data_source_ibm_sm_custom_credentials_secret_metadata.go
  ibm/service/secretsmanager/data_source_ibm_sm_custom_credentials_secret_metadata_test.go
  ibm/service/secretsmanager/data_source_ibm_sm_custom_credentials_secret_test.go
  ibm/service/secretsmanager/resource_ibm_sm_custom_credentials_configuration.go
  ibm/service/secretsmanager/resource_ibm_sm_custom_credentials_configuration_test.go
  ibm/service/secretsmanager/resource_ibm_sm_custom_credentials_secret.go
  ibm/service/secretsmanager/resource_ibm_sm_custom_credentials_secret_test.go
  ibm/service/secretsmanager/resource_ibm_sm_username_password_secret.go
  ibm/service/secretsmanager/utils.go
  website/docs/d/sm_custom_credentials_configuration.html.markdown
  website/docs/d/sm_custom_credentials_secret.html.markdown
  website/docs/d/sm_custom_credentials_secret_metadata.html.markdown
  website/docs/r/sm_custom_credentials_configuration.html.markdown
  website/docs/r/sm_custom_credentials_secret.html.markdown
Labels: service/Secrets Manager

#6240 [Datasource] Remove deprecation notice from VTL fields still in use by FalconStor
  ibm/service/power/data_source_ibm_pi_instance.go
  ibm/service/power/data_source_ibm_pi_instances.go
  website/docs/d/pi_instance.html.markdown
  website/docs/d/pi_instances.html.markdown
Labels: service/Power Systems

#6230 [Resource] Remove computed property from pi_instance "pi_placement_group_id", fix placement group acceptance test, add wait for placement group delete
  ibm/service/power/resource_ibm_pi_instance.go
  ibm/service/power/resource_ibm_pi_placement_group.go
  ibm/service/power/resource_ibm_pi_placement_group_test.go
Labels: service/Power Systems

#6256 [Resource] pi_network_access_group fix user tags argument crash, add user tags test
  ibm/service/power/resource_ibm_pi_network_address_group.go
  ibm/service/power/resource_ibm_pi_network_address_group_test.go
Labels: bug, service/Power Systems
